<!-- recibe: user_product_ids y la lista de categorias, subcategorias y productos-->
<%= form_tag user_product_path, method: "patch", class: "user_products_form", remote: true do %>
	<ul class="user_selected_products_list">
		<% products.each do |product| %>
				<% if user_product_ids.include?(product.id) %>
					<div class="product_label active" data-product-id="<%= product.id %>">
						<%= product.name %>
					</div>
					<%= check_box_tag "products[]", product.id, true, 
					data: {product_id: product.id} %>
				<% else %>
					<div class="product_label" data-product-id="<%= product.id %>">
						<%= product.name %>
					</div>
					<%= check_box_tag "products[]", product.id, false, data: {product_id: product.id} %>
				<% end %>
		<% end %>	
	</ul>


		<%= submit_tag "Actualizar", class: "edit_user_product_submit" %>
<% end %>