
// @user_products, @supercategories, @subcategories, @products

$('.content_body').empty()
// tiene escape_javascript y .html_safe para que se interprete bien el parcial
<% user_product_ids = @user_products.collect {|user_product| user_product.product_id} %>
$('.content_body').append('<div id="user_products_form_container"></div>')
$('#user_products_form_container').append("<%= escape_javascript(render partial: 'edit_user_products_form.html.erb', locals: {user_product_ids: user_product_ids, subcategories: @subcategories, supercategories: @supercategories, products: @products}).html_safe %>")
$('#user_products_form_container').prepend('<div id="user_product_form_header"></span></div>')

// search box
$('.content_body').append('<%= j render partial: "layouts/product_search_box", locals: {suggestions: @products} %>')

form_header = "<%= t 'products' %>"
form_subheader = "<%= t 'selected' %>"
// $('#user_product_form_header').append(form_header + '<span>' + form_subheader + '</span>')


// agrega categorias, subcategorias y productos para seleccionar
$('.content_body').append("<%= escape_javascript(render partial: 'user_products_menu.html.erb', locals: {supercategories: @supercategories, subcategories: @subcategories, products: @products} ).html_safe%>")


// activa los productos que ya estan en la lista y sus categorias
function activateProductsInList() {
	for (var i = 0; i < $('input[type=checkbox][checked]').size(); i++) {
		productId = $($('input[type=checkbox][checked]')[i]).attr('data-product-id')
		categoryId = $($('input[type=checkbox][checked]')[i]).attr('data-supercategory-id')
		// console.log(categoryId)
		$('.product_button[data-product-id='+ productId + ']').addClass('active')
		$('.supercategory_label[data-supercategory-id=' + categoryId + ']').addClass('active')

	};	
}

activateProductsInList();

// funcionalidad del menu
// despliega subcategorias cuando se escoge la categoria
$('li.supercategory_button').on('click', function(e) {
	$('li.supercategory_button.active').removeClass('active')
	$(e.target).addClass('active')
	$('li.product_button').removeClass('selected')
	$('li.subcategory_button').removeClass('selected')
	supercategory_id = $(e.target).attr('data-supercategory-id')
	$('li.subcategory_button[data-supercategory-id=' + supercategory_id + ']').addClass('selected')
})


// despliega productos cuando se escoge la subcategoria
$('li.subcategory_button').on('click', function(e) {
	$('li.subcategory_button.active').removeClass('active')
	$(e.target).addClass('active')
	$('li.product_button').removeClass('selected')
	subcategory_id = $(e.target).attr('data-subcategory-id')
	console.log(subcategory_id)
	$('li.product_button[data-subcategory-id=' + subcategory_id + ']').addClass('selected')
})

// activa las categorias que ya tienen productos selecionados


// activa el checkbox cuando se hace click en el producto
$('.product_button').on('click', function(e) {

	if ($(e.target).hasClass('active')) {
		toggleProduct('deselect', $(e.target).attr('data-product-id'))
	} else {
		toggleProduct('select', $(e.target).attr('data-product-id'))
	}
})

$('.product_label').on('click', function(e) {
	console.log('lalala')
		
	if ( $(e.target).hasClass('active') ) {
		toggleProduct('deselect', $(e.target).attr('data-product-id'))
	} else {
		toggleProduct('select', $(e.target).attr('data-product-id'))
	}
})


function toggleProduct(mode, product_id) {
	console.log("in")
		if (mode == "select") {
			$('.product_button[data-product-id=' + product_id + ']').addClass('active')
			$('input[type=checkbox][data-product-id=' + product_id + ']').prop('checked', true);
			categoryId = $('.product_label[data-product-id=' + product_id + ']').addClass('active').attr('data-supercategory-id')
			$('.supercategory_label[data-supercategory-id=' + categoryId + ']').addClass('active')
		} else {
			$('.product_button[data-product-id=' + product_id + ']').removeClass('active')
			$('input[type=checkbox][data-product-id=' + product_id + ']').prop('checked', false);
			categoryId = $('.product_label[data-product-id=' + product_id + ']').removeClass('active').attr('data-supercategory-id')
			targetSupercategoryLabel = $('.supercategory_label[data-supercategory-id=' + categoryId + ']')
			if ($('.user_product_category_list[data-supercategory-id= ' + categoryId +'] .product_label.active').size() < 1) {
				targetSupercategoryLabel.removeClass('active')
			};

		};
}


function setUpSearchBarSuggestions() {
	var jsonData = $.ajax({
		async: false,
		url: "<%= j products_path %>",
		contentType: "application/json",
		type: "GET",
		}).responseJSON;


	var options = {
		  caseSensitive: false,
		  includeScore: false,
		  shouldSort: true,
		  threshold: 0.3,
		  location: 0,
		  distance: 100,
		  maxPatternLength: 32,
		  keys: ["name","subcategory.name"]
		};
	var fuse = new Fuse(jsonData.products, options);
	return fuse;
}

var fuse = setUpSearchBarSuggestions();

// maneja los tecleos en el searchbar
suggestionScrollHandler = new searchBarSuggestionHandler();
$('#search_bar_input').on('keyup', function(e) {
	if (e.which === 27) {
			hideSearchBar();
	}
	else if(e.which === 13) {
		suggestionBoxSelectionHandler($('.suggestion_box.selected'));

	} else if(e.which === 40 || e.which === 38) {
		var direction, index;
		e.which === 40 ? direction = 1: direction = 0;
		index = suggestionScrollHandler.scroll(direction);
		$('.suggestion_box.selected').removeClass('selected');
		$($('.suggestion_box:not(.hidden)')[index]).addClass('selected');

	} else {
		$text = $(e.target).val()
		var results = fuse.search($text), index;
		$('.suggestion_box').addClass('hidden');
		for(i = 0; i < results.length; i++) {
			$('.suggestion_box[data-suggestion-id="' + results[i].id + '"').removeClass('hidden')
		}
		index = suggestionScrollHandler.newSearch(results.length);
		$('.suggestion_box.selected').removeClass('selected');
		$($('.suggestion_box:not(.hidden)')[index]).addClass('selected');
	}
})

$('suggestion_box').on('click', function(e) {
	suggestionBoxSelectionHandler($(e.target));
})

// function suggestionBoxSelectionHandler(suggestion_box) {
// 	$product_id = suggestion_box.attr('data-suggestion-id');
// 	$product_button = $('.product_button[data-product-id=' + $product_id + ']');
// 	$subcategory_button = $('.subcategory_button[data-category-id=' + $product_button.attr('data-category-id') + ']');
// 	$category_button = $('.category_button[data-category-id=' + $subcategory_button.attr('data-supercategory-id') + ']');

// 	$category_button.click();
// 	$subcategory_button.click();
// 	$product_button.click();
// 	hideSearchBar();
// }



$('.loading_animation').removeClass('active')
$('.loading_animation_screen').removeClass('active')