<% @cities = ["Apodaca", "Monterrey", "Escobedo", "Guadalupe", "San Nicolás de los Garza", "San Pedro Garza García", "Santa Catarina"] %>
<% @states = ["Nuevo León"] %>

<div class="sign_up">
  <div class="sign_up_header">
    <div class="sign_up_header_container">
      <h2>Crea tu Cuenta</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="user_fields">
      <div class="field ">
        <div class="form_label">
          <span>Correo</span><span style="color:#20bdff">*</span>
        </div>
        <%= f.email_field :email, autofocus: true, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>

      <div class="field password">
        <div class="form_label">
          <span>Clave</span><span style="color:#20bdff">*</span>
        </div>
        <% if @validatable %>
        <!-- # <em>(<%= @minimum_password_length %> characters minimum)</em> -->
        <% end %>
        <%= f.password_field :password, autocomplete: "off", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>

      <div class="field confirmation">
        <div class="form_label">
          <span>Confirmación</span><span style="color:#20bdff">*</span>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "off", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>
    </div>


    <%= fields_for :user_detail do |user_detail| %>

    <div class="user_detail_fields">
      <div class="field">
        <div class="form_label">
            <span>Organización</span> <span style="color:#20bdff">*</span>
        </div>
        <%= user_detail.text_field :organization, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>

      <div class="field">
        <div class="form_label">
            <span>Dirección</span> <span style="color:#20bdff">*</span>
        </div>
        <%= user_detail.text_area :address, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>

      <div class="field">
        <div class="form_label">
          <span>Teléfono</span> <span style="color:#20bdff">*</span>
        </div>
        <%= user_detail.telephone_field :telephone, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>

      <div class="field account_type_field">
          <div class="form_label">
            <span>Vendedor</span> <span style="color:#20bdff">*</span>
          </div>
          <%= user_detail.radio_button :credentials, 1, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)"%>
      </div>

      <div class="field account_type_field">
          <div class="form_label">
            <span>Comprador</span> <span style="color:#20bdff">*</span>
          </div>
          <%= user_detail.radio_button :credentials, 2, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
      </div>
    </div>

    <div class="optional_fields">
      
      <div class="field">
        <div class="form_label">
          <span>Dirección Fiscal</span>
        </div>
          <%= user_detail.text_area :fiscal_address%>
      </div>

      <div class="field RFC">
        <div class="form_label"><span>RFC</span>
        </div>
          <%= user_detail.text_field :RFC %>
      </div>

      <div class="field postal">
        <div class="form_label">
          <span>Código Postal</span>
        </div>
          <%= user_detail.text_field :postal_code, max_length: 5 %>
      </div>

      
      
      <div class="field fiscal_denomination">
        <div class="form_label">
          <span>Denominación Fiscal</span>
        </div>
        <%= user_detail.text_field :fiscal_denomination %>
      </div>
      <div class="field city">
        <div class="form_label">
          <span>Ciudad</span>
        </div>
          <%= user_detail.select :city, options_for_select(@cities) %>
      </div>
      <div class="field state">
        <div class="form_label">
          <span>Estado</span>          
        </div>
          <%= user_detail.select :state, options_for_select(@states) %>
      </div>

    </div>



    <% end %>

    <div class="actions">
      <%= f.submit "Registrar" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>

<script>
  function validateEditForms() {

    function validate(e, erMsg, REGEX) {
      target = e.target;
      submitButton = document.querySelector('input[type=submit]')
      if (!target.value.match(REGEX)) {
        target.style.backgroundColor = "#F6C8BD";
        submitButton.disabled = true;
      }
      else
      { 
        target.style.backgroundColor = "#BDF6C8";
        submitButton.disabled = false;

      }

    }

    phoneForm = document.getElementById('user_detail_telephone');
    if (phoneForm) {phoneForm.addEventListener('keyup', function(e) {
      validate(e, "Numero Invalido", "^[0-9]{8,9}$", "userTelephoneLabel");
    }, false)};
}

validateEditForms();
</script>