<%= form_for(user, remote: true,  :url => { :action => "update_password", controller: "users" } ) do |f| %>
    
    <div class="form_label">
      <span>Clave Actual</span>
    </div>
    <%= f.password_field :current_password, class: "edit_user_password_field" %>
    
    <div class="form_label">
      <span>Nueva Clave</span>
    </div>
    <%= f.password_field :password, :autocomplete => "off" , class: "edit_user_password_field" %>
    
    <div class="form_label">
      <span>Confirmacion Clave</span>
    </div>
    <%= f.password_field :password_confirmation, class: "edit_user_password_field" %>

    <%= f.submit "Cambiar Clave" %>

<% end %>


<script>
  $('#user_password_confirmation').on('keyup', function() {
    password_confirmation = $('#user_password_confirmation')
    new_password_field = $('#user_password')
    console.log('change')
    if (new_password_field.val() == password_confirmation.val()) {
      new_password_field.addClass('passwords_match').removeClass('passwords_mismatch')
      password_confirmation.addClass('passwords_match').removeClass('passwords_mismatch')
    }
    else {
      password_confirmation.addClass('passwords_mismatch').removeClass('passwords_match')
      new_password_field.addClass('passwords_mismatch').removeClass('passwords_match')
    };

  })
</script>