<div class="admin_dashboard">

	<fieldset>
		<% @categories.each do |category| %>
			<div class="category_button" data-category-id="<%= category
			.id %>"><%= category.name %> (<%= category.id %>)</div>
			<% category.subcategories.each do |subcategory| %>
				<div class="subcategory_button hidden" data-subcategory-id="<%= subcategory.id %>" data-category-id="<%= category.id %>"><%= subcategory.name %> ( <%= subcategory.id %> ) </div>
				<% subcategory.products.each do |product|  %>
					<%= form_for product, html: {class: "edit_product hidden"}, remote: true, data: {product_id: product.id, subcategory_id: subcategory.id}  do |d|%>

					<%= d.text_field :name %>
					<%= d.number_field :category_id %>
					<%= d.submit "Actualizar" %>
				<% end %>
				<% end %>
			<% end %>
		<% end %>
	</fieldset>


	<%= form_tag products_path, method: "post", remote: true do %>
		<%= text_field_tag :name, nil, placeholder: "Nombre" %>
		<%= number_field_tag :id, nil, placeholder: "Id subcategoria" %>
	    <%= submit_tag "Crear Producto" %>
	<% end %>

	<%= form_tag categories_path, method: "post", remote: true do %>
		<p>* No poner id de supercategoria si se desea crear una supercategoria *</p>
		<%= fields_for :category do |f| %>
			<%= f.text_field :name, placeholder: "Nombre category" %>
			<%= f.number_field :supercategory_id, placeholder: "Id de supercategoria" %>
		<% end %>
		<%= submit_tag "Crear categoría" %>
	<% end %>

<% @categories.each do |category| %>
	<% category.subcategories.each do |subcategory| %>
		<%= form_for subcategory, html: {class: "edit_subcategory hidden"}, data: {subcategory_id: subcategory.id}, remote: true do |f| %>
			<%= f.text_field :name %>
			<%= f.number_field :supercategory_id %>
			<%= f.submit "Actualizar Subcategoría"%>
		<% end %>
	<% end %>
<% end %>


</div>