<!DOCTYPE html>
<html>
<head>
  <title>Cintelius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-bar">
		<ul class="top_bar_content">
		<li><%= link_to(t(:log_in), new_user_session_path, :method => :delete) %></li>			
		</ul>
	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div class="wrapper">
		<%= image_tag('CinteliusLogo.png') %>		
		<%= image_tag('CinteliusLogoLetras.png') %>
	</div>

</body>
</html>
