<!-- recibe una oferta en f -->
<div class='offer_product_box', data-attribute-user-id="<%= f.user_id %>", 
			data-attribute-offer-id="<%= f.id %>", data-attribute-product-name="<%= f.product.name %>">

	<div class="left_side">
		<div class="product_name_box">
			<!-- color del circulo debe indicar el estado de la oferta { -->
			<div class="status_circle <%= f.complete_status %>" >
				<%= button_tag "+", class: "offer_selection_button", data: {offer_id: f.id, product_id: f.product.id}%>
			</div>
			<span style="float:left;margin-top:11%;"><%= f.product.name %></span>
		</div>
		<div class="offer_numbers_box">
			<div class="unit_container">
				<span style="float:left;margin-top: -2%;">Kg:</span>
				<div class="background_box units" data-product-id="<%= f.product.id %>" ><%= f.offer_details.last.units %></div>
			</div>
				<div class="total_price_container">
					<div class="currency_code"><%= t 'currency_code' %>:</div>
					<div class="background_box total_price"> <%= f.total_price %></div>  
				</div>
		</div>
	</div>	

	<div class="right_side">						
		<div class="comment_box">
			<div class="seller_comment">
				<%= f.comment.content %>
			</div>
		</div>
					
	</div>
</div>



