<div class="order_index">
	<div class="column orders">
		<div class="column_header" id="orders_header">
			Órdenes
		</div>


		

		<!-- lista de ordenes que tiene el comprador -->
		<ul class="order_list">
			<!-- cada orden es un link para la accion Orders#show  -->
			<% @orders.each do |order|  %>
				<li class="order_box">
					<%= image_tag("icons/icon-back-arrow.png", class: "return_arrow") %>
					<% if order.due_date_past? %>
						<% if order.is_locked? %>
							<%= image_tag("icons/icon-checkmark.png") %>
						<% elsif order.is_open?%>
							<%= image_tag("icons/icon-eye.png") %>
						<% end %>
					<% else %>
							<%= image_tag("icons/icon-clock.png") %>
					<% end %>

					<%= link_to(order_path(id: order.id), remote: true) do %>
					  <%= order.user.user_detail.organization %> <br>
					  <div class="due_date_info">
					  	<%= l order.due_date.in_time_zone("America/Monterrey"), format: :cust %>
					  </div>
					<% end %>
				</li>			
			<% end %>
		</ul>
		<ul class="provider_list">
			
		</ul>
	</div>

	<!-- Ofertas y combos -->
	<div class="column order_offers">
		<div class="column_header" id="products_header">
			Productos
		</div>

		<ul class="offer_list">
			
		</ul>
	</div>

	<div class="column order_products">
		<div class="column_header" id="selection_header">
			<%= t('selection') %>
		</div>

		<ul class="order_product_list">
			
		</ul>
	</div>

	<div class="column order_info">
		<div class="info_tab_close_button">		
		</div>
		<div class="order_title_container"></div>
		<div class="order_product_info_container">
			
		</div>
		<div class="order_comment_container"></div>
		<div class="order_date_container"></div>
	</div>
</div>



