

<div class="newOrder">
	<div class="column categories">
		<!-- categorias -->
		<ul class="category-list">
			<% @categories.each do |category|  %>
				<li><%= button_tag category.name %></li>
			<% end %>
		</ul>
		
	</div>

	<div class="column subcategories">
		<!-- subcategorias -->
			<% @categories.each do |category| %>
				<ul class="<%=category.name%>-list">
					<% category.subcategories.each do |subcategory| %>
						<li><%= button_tag subcategory.name %></li>
					<% end %>
				</ul>
			<% end %>
	</div>

	<div class="column products">
		<!-- productos -->
		<% @categories.each do |category| %>
			<% category.subcategories.each do |subcategory| %>
				<ul class="<%=subcategory.name%>-list">
					<% subcategory.products.each do |product| %>
						<li><%= button_tag product.name, data: {product_id: product.id} %></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
	
	<div class="column order">
		<!-- titulo -->
		<!-- producto -->
		<!-- unidades -->
		<!-- comentario -->
		<!-- cancelar -->
		<!-- terminar -->

		<div class="new-order-product">
			<%= form_for@order, url: {action: "create"}, html: {
				class: "new_order_form"} do |order|%>
				<%= order.label :title, "Nombre de la Orden"  %>
				<%= order.text_field :title, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
				<div class="product_form_area">
					<%= fields_for :order_products do |product_fields| %>
					
					<% end %>
				
				<%= link_to_add_fields "Add product ", order, :order_products %>
				</div>

				<%= order.text_field "due_date", id: "datepicker", placeholder: "Fecha limite", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)", html: {readonly: true}  %>
				<%= order.time_field "due_time", id: "timepicker", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>

				<%= order.submit "Terminar Orden" %>

			<% end %>
		</div>
	</div>	
</div>