

<div class="newOrder">
	<%= render partial: 'recent_orders_widget', locals: {recent_orders: @recent_orders} %>
	<div class="column categories">
		<!-- categorias -->
		<ul class="category-list">
			<% @categories.each do |category|  %>
				<li><%= button_tag category.name, data: {category_id: category.id} %></li>
			<% end %>
		</ul>
		
	</div>

	<div class="column subcategories">
		<!-- subcategorias -->
			<% @categories.each do |category| %>
				<ul class="<%=category.name%>-list new-order-subcategory-list" data-category-id="<%= category.id %>">
					<% category.subcategories.each do |subcategory| %>
						<li><%= button_tag subcategory.name, data: {category_id: subcategory.id}%></li>
					<% end %>
				</ul>
			<% end %>
	</div>

	<div class="column products">
		<!-- productos -->
		<% @categories.each do |category| %>
			<% category.subcategories.each do |subcategory| %>
				<ul class="<%=subcategory.name%>-list new-order-product-list" data-category-id="<%= subcategory.id %>">
					<% subcategory.products.each do |product| %>
						<li><%= button_tag product.name, data: {product_id: product.id} %></li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
	
	<div class="column order">
		<!-- titulo -->
		<!-- producto -->
		<!-- unidades -->
		<!-- comentario -->
		<!-- cancelar -->
		<!-- terminar -->

		<div class="new-order-product">
			<%= form_for@order, url: {action: "create"}, html: {
				class: "new_order_form"} do |order|%>

				<div class="product_form_area">
					<%= fields_for :order_products do |product_fields| %>
					
					<% end %>
					<%= link_to_add_fields "Add product ", order, :order_products %>
				</div>

				<div class="new_order_pop_up_screen">
					<div class="new_order_pop_up_fields">
						<div class="order_name_field_container new_order_field">
							<%= order.label :title, "Nombra tu orden"  %>
							<div class="new_order_field_information">
								<span>*</span>Solo tu podras ver el nombre
							</div>
							<%= order.text_area :title, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
						</div>		

						<div class="order_comment_field_container new_order_field">
							<%= order.fields_for :comment, Comment.new do |comment| %>
								<%= comment.label :content, "Deja un mensaje para los proveedores" %>
								<div class="order_message_explanation">
									<!-- Informacion para los proveedores -->
								</div>
								<%= comment.text_area :content, value: "Mi Dirección: \n" + current_user.get_address %>
							<% end %>
						</div> 

						<div class="order_date_field_container new_order_field">
							<div class="new_order_date_field_explanation">
								Fecha limite de cotizaciòn.
								<div class="new_order_field_information">*Recuerda que tu no podras ver las ofertas antes de esta fecha.</div>
							</div>
							<div class="date_field_container">
								<%= order.text_field "due_date", id: "datepicker", placeholder: "Fecha limite", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)", readonly: true  %>
								<br>
								<%= order.time_field "due_time", id: "timepicker", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
							</div>
						</div>

						<%= order.submit "Terminar Orden", id: "new_order_submit" %>
					</div>
					
				</div>

				<%= button_tag "Continuar", id: "new_order_form_continue_button"%>
				

			<% end %>
		</div>
	</div>

	<%= render partial: "layouts/product_search_box.html.erb", 
								locals: {suggestions: @products} %>
</div>

<script>
function setChosenLink(link) {
	$(link).addClass('choice')
}

setChosenLink('.new_order_link')







// datepicker se movio aqui desde applicatino.js por problemas con turbolinks
$.datepicker.regional['es'] = {clearText: 'Borrar', clearStatus: '',
    closeText: 'Cerrar', closeStatus: '',
    prevText: 'Anterior', prevStatus: 'Ver mes anterior',
    nextText: 'Siguiente;', nextStatus: 'Ver siguiente mes',
    currentText: 'Actual', currentStatus: 'Ver mes actual',
    monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
    'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
    'Jul','Ago','Sep','Oct','Nov','Dic'],
    monthStatus: 'Ver otros meses', yearStatus: 'Ver otros años',
    weekHeader: 'Sm', weekStatus: '',
    dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sa'],
    dayStatus: 'Utilice DD como el primer día de la semana', dateStatus: 'Elija DD , MM d',
    dateFormat: 'dd/mm/yy', firstDay: 0, 
    initStatus: 'Elija la fecha', isRTL: false};

     $.datepicker.setDefaults($.datepicker.regional['es']);
// Seleccion fecha limite en nueva orden
$(function() {
    $('#datepicker').datepicker({dateFormat: 'yy-mm-dd', minDate: 0, maxDate: 10})
  });
	
</script>