<div class="loading_screen">

  <div class=container>
    <div class=circle-1>
      <div class=circle-2>
        <div class=circle-3>
          <div class=circle-4>
            <div class=circle-5>
              <div class=circle-6>
                <div class=circle-7>
                  <div class=circle-8>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="log_in_sidebar">
  <div class="logo_container"><%= image_tag "logo.png", class: "logo" %></div>
  <div class="intro_quote">Expande tu Negocio</div>
  <div class="login_form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="box">
            <div class="icon-container" id="user-icon">
              <%= image_tag "icons/icon-user-3-icon.svg", class: "log_in_icon" %>      
            </div>

              <%= f.email_field :email, autofocus: true, autocomplete: "on", placeholder: "Correo", class: "log_in_field" %>
          </div>

          <div class="box">
            <div class="icon-container" id="password-icon">
                <%= image_tag "icons/icon-password-9-icon.svg", class: "log_in_icon" %>      
            </div>

              <%= f.password_field :password, autocomplete: "on", placeholder: "Contraseña", class: "log_in_field" %>
          </div>

          <%= f.submit "Entrar", id: "log_in"%>
          <%= link_to "Crear cuenta", new_user_registration_path, id: "sign_up" %>
      <% end %>  
  </div>
</div>

<div class="log_in_background">
  <div class="background" id="third"><%= image_tag "frontpage/wall.jpg", class:"background-image"%>
  </div>
  <div class="background" id="second"><%= image_tag "frontpage/workstation.jpg", class:"background-image"%>
  </div>
  <div class="background" id="first"><%= image_tag "frontpage/workplace.jpg", class:"background-image"%>
  </div>
  <div class="overlay">
    <p>Pedidos y Cotizaciónes <br> en Línea</p>
    <p>Una solución disruptiva <br> a un problema primitivo.</p>
    <p>Todas las herramientas a tu disposición</p>  
    
  </div>
  
  
  
</div>


<script type="text/javascript">
  


</script>