<!-- llamado por show.js de order_history, recibe single_combos, multi_combos y product_name_hash -->

<div class="order_history_products_block">
	<div class="individual_offers">
		<% if single_combos.any? %>
			<div class="individual_offers_container">
				<% product_name_hash.each do |id, name|  %>
					<ul class="combo_product_history_list" data-product-id="<%= id %>">
						<li class="product_history_list_header">
							<div> <%= name %> </div>
						</li>
						
						<% single_combos[id].each do |single_combo| %>
						<% combo_product_history = single_combo.combo_product_histories.first %>
							<li class="combo_product_history  <%= combo_product_history.parent_combo_status %>" 
							data-price=" <%= combo_product_history.unitary_price.to_f %> " data-product-id="<%= id %>", data-combo-history-id="<%= combo_product_history.id %>">
								<div class="product_history_provider">
									<%= combo_product_history.combo_history.order_history.user.get_organization %>
								</div>

								<div class="first_row">
									<span class="product_history_price">
										$ <%= combo_product_history.unitary_price.to_f %>
									</span>

									<span class="product_history_difference">
										<span class="difference_percentage"></span>
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

											 width="200" height="200" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" class="percentage_arrow" data-product-id="<%= id %>">

											<polygon class="percentage_arrow_polygon" points="0,0 200,100, 0, 200"/>
										</svg>
									</span>
								</div>

								<div class="second_row">
									<span class="product_history_units">
										Kg: <%= combo_product_history.units.to_f %>
									</span>

									<span class="product_history_product_score">
										<%= image_tag "icons/star.svg", class: "score_star_svg"  %>
									</span>
								</div>
							</li>
						<% end %>
						<li class="product_average_container">
							<span class="product_average"></span>
						</li>
					</ul>
				<% end %>
			</div>
		<% else %>
			<div class="no_single_offers_message">
				No recibio ofertas individuales en esta orden.
			</div>
		<% end %>
	</div>
	
	<div class="individual_offers_step_button">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

			 width="200" height="200" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" class="step_button">

			<polygon class="step_arrow" points="0,0 200,100, 0, 200"/>
		</svg>
	</div>

	<div class="group_offers">
		<!-- left_side_bar -->
			<!-- step arrow -->
			<!-- organization -->

		<!-- multiple_order_history_window -->
			<!-- product_header_list -->
				<!-- product_headers(product_id) -->
			<!-- combo_product_history_list(id) -->
				<!-- combo_product_history(product_id) -->

		<!-- right_side_bar -->
			<!-- step arrow -->
			<!-- combo_history_total -->

			<div class="left_side_bar">
				<div class="group_offers_step_button">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

						 width="200" height="200" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" class="step_button left">

						<polygon class="step_arrow" points="200,0 0,100, 200, 200"/>
					</svg>
				</div>
			</div>
			<div class="multiple_order_history_window" data-active-block="1">
				<div class="product_header_list"></div>
			</div>
			<div class="right_side_bar">
				<div class="group_offers_step_button">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

						 width="200" height="200" viewBox="0 0 200 200" enable-background="new 0 0 200 200" xml:space="preserve" class="step_button right">

						<polygon class="step_arrow" points="0,0 200,100, 0, 200"/>
					</svg>
				</div>
			</div>


		
	</div>
</div>