<!-- recibe un objecto combo en f -->
<% if f.status == "ready" %>
	<div class="combo_box ready">
		<ul class="product_list_area">
			<% f.combo_products.each do |combo_product| %>		
				<li class="combo_product_box">
					<div class="combo_product_name">
						<%= combo_product.product.name %>
					</div>
					<div class="background_box">
						<%= combo_product.units %>
					</div>
					<span class="combo_product_unit_label">Kg</span>
				</li>
			<% end %>
		</ul>
		
		<div class="comment_box">
			<%= f.comment.content %>
		</div>

		<span class="combo_price_label">
			Total: $
		</span>
		<div class="combo_price_label">
			<div class="background_box">
				<%= f.price %>
			</div>
		</div>

	</div>
<% elsif f.status == "locked" %>
	<div class="combo_box locked">
		<ul class="product_list_area">
			<% f.combo_products.each do |combo_product| %>		
				<li class="combo_product_box">
					<div class="combo_product_name">
						<%= combo_product.product.name %>
					</div>
					<div class="background_box">
						<%= combo_product.units %>
					</div>
					<span class="combo_product_unit_label">Kg</span>
				</li>
				
			<% end %>
		</ul>
		
		<div class="comment_box">
			<%= f.comment.content %>
		</div>

		<span class="combo_price_label">
			Total: $
		</span>
		<div class="combo_price_label">
			<div class="background_box">
				<%= f.price %>
			</div>
		</div>

	</div>
<% elsif f.status == "received" %>
	<div class="combo_box received">
		<ul class="product_list_area">
			<% f.combo_products.each do |combo_product| %>		
				<li class="combo_product_box">
					<div class="combo_product_name">
						<%= combo_product.product.name %>
					</div>
					<div class="background_box">
						<%= combo_product.units %>
					</div>
					<span class="combo_product_unit_label">Kg</span>
				</li>
				
			<% end %>
		</ul>
		
		<div class="comment_box">
			<%= f.comment.content %>
		</div>

		<span class="combo_price_label">
			Total: $
		</span>
		<div class="combo_price_label">
			<div class="background_box">
				<%= f.price %>
			</div>
		</div>

	</div>
<% end %>



	
