<!-- Recibe un objeto combo vacio f-->

<% comment_object = f.build_comment %>
<%= form_for f, url: create_combo_path(f), html: {
				class: "new_combo_form"}, remote: true do |combo|%>
	<%= combo.number_field :order_id %>
	<ul class="product_list_area">
		<%= link_to_add_combo_fields "Add combo fields", combo, :combo_products %>				
	</ul>
	<span class="combo_price_label">
		Total: $
	</span>
	<%= combo.number_field :price %>
	<%= combo.fields_for(:comment, comment_object, child_index: comment_object.object_id) do |comment|%>
		<%=  comment.text_area :content, placeholder: "Tu comentario.."%>
	<% end %>
	<%= combo.submit "Terminar Combo", confirm: "¿Esta seguro que desea terminar su combo?", disabled: true, class: "submit_button"%>
<% end %>