<!-- Recibe un objeto combo vacio f-->

<% comment_object = f.build_comment %>
<%= form_for f, url: create_combo_path(f), html: {
				class: "new_combo_form"}, remote: true do |combo|%>

	<%= combo.number_field :order_id %> <!-- escondido -->
	<div class="combo_instructions_container">
		<%= t('combo_instructions') %>
	</div>
	<div class="products_and_comment_field hidden">
		<ul class="product_list_area">
			<%= link_to_add_combo_fields "Add combo fields", combo, :combo_products %>	<!-- escondido, llama a _combo_product_fields -->			
		</ul>

		

		<%= combo.fields_for(:comment, comment_object, child_index: comment_object.object_id) do |comment|%>
			<%=  comment.text_area :content, placeholder: "Tu comentario..", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)" %>
		<% end %>
	</div>

	<!-- <div class="new_combo_status_icon"> -->
		<!-- # <%= image_submit_tag('icons/icon-style-checkmark-white.png', class: "new_combo_submit_button" )%> -->
	<!-- </div> -->


	<div class="combo_form_footer">
		<div class="combo_price_form">
			<span class="combo_price_label">
			Total <span class="unit_code" style="color:#C8C8C8"><%= t 'currency_code' %>:</span> </span>
			<%= combo.number_field :price, value: 0.00, step: 0.01, min: 0.01, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)", readonly: true  %>
		</div>
		<%= combo.submit "Terminar Orden", id: "new_combo_submit_button", disabled: true, data: {confirm: "Porfavor confirma el registro de tu orden. "} %>
	</div>	
	
<% end %>

