<!-- recibe un objecto combo en f y en function recibe 'order' o 'offer'-->
<div class="combo_box <%= f.status %>" data-combo-id="<%= f.id %>", 
		data-attribute-user-id="<%= f.user.id %>">

	<ul class="product_list_area" data-combo-id="<%= f.id %>">
		<% f.combo_products.each do |combo_product| %>		
			<li class="combo_product_box" data-product-id="<%= combo_product.product.id %>" data-product-units="<%= combo_product.units %>">
				<div class="combo_product_name">
					<%= combo_product.product.name %>
				</div>
				<div class="background_box">
					<%= combo_product.units %>
				</div>
				<span class="combo_product_unit_label">Kg:</span>
			</li>
		<% end %>
	</ul>

		<% if function == "order" and f.is_ready? %>
			<%= button_tag "+", class: "combo_selection_button", data: {combo_id: f.id} if f.order.is_open? %>
		<% end %>

	<div class="comment_box combo">
		<%= f.comment.content %>
	</div>
	<div class="combo_box_footer">
		<span class="combo_price_label">
			Total <%= t 'currency_code' %>:
		</span>
		<div class="combo_price_label">
			<div class="background_box">
				<%= f.price %>
			</div>
		</div>
	</div>
	
</div>