	
<!-- Los que pide el cliente -->
<!-- Los que ha mandado el proveedor -->
<!-- Los que ha regresado el cliente-->
<!-- Los que ha rechazado el proveedor -->
<!-- Los que se han aceptado -->
<!-- Los que se han entregado -->


<!-- recibe un offer = f y con ese objecto crea los hijos -->
<!-- product_id -->
<!-- order_id -->
<!-- status -->
<!-- unitary_price -->
	<!-- offer_detail -->
		<!-- order_id -->
		<!-- offer_id -->
		<!-- units -->
		<!-- status -->
	<!-- comment -->
		<!-- content -->


		

<% offer_detail_object = f.offer_details.build %>
<% comment_object = f.build_comment %>
<div class="offer_product_box form_for" data-offer-id=>
	<%= form_for f, url: {action: "create"}, html: {
				class: "new_offer_form"}, remote: true do |offer|%>

		<%= offer.text_field :order_id, style: "display: none;", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)"  %>
		<%= offer.number_field :product_id, style: "display: none;", required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)"  %>
		<div class="left_side">

			<div class="product_name_box">
				<div class="status_circle new_offer_form_status_circle" data-offer-id="<%= f.id %>">
					<%= button_tag "+", class: "combo_product_add_button", data: {product_id: f.product.id, product_name: f.product.name }%>
					<%= image_submit_tag('icons/icon-style-checkmark-white.png', class: "new_offer_submit_button" )%>
					<!-- no tiene el offer. pero es el sintax correcto -->
				</div>
				<span style="float:left;margin-top:11%;"><%= f.product.name %></span>
			</div>	

			<div class="offer_numbers_box">

					<div class="wanted unit_container"> <!-- unidades deseadas por comprador-->
						<span style="float:left;margin-top: -2%;margin-left:5%">Kg:</span>
						<div class="background_box units" data-product-id="<%= f.product.id %>" >
							<%= units_wanted_by_buyer %>
						</div>
					</div>
					<%= offer.fields_for(:offer_details, offer_detail_object, child_index: offer_detail_object.object_id) do |offer_detail_fields| %>
						<div class="unit_container">
							<span style="float:left;;margin-left:5%">Kg:</span>
							<div class="background_box units offer_form_fields" data-product-id="<%= f.product.id %>" >								
									<%= offer_detail_fields.number_field :units, step: 0.5, within: 1...100000, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)", class: "new_offer_unit_input", :value => 0.00  %>
							</div>
						</div>

						<div class="total_price_container">
							<div class="unit_code" style="float: left; margin-top: -2%; margin-left: 5%;">Unitario</div>
							<div class="currency_code"><%= t 'currency_code' %>:</div>
							<div class="background_box total_price offer_form_fields">
								<%= offer.number_field :unitary_price, step: 0.5, within: 1...100000, required: true, oninvalid: "InvalidMsg(this);", oninput: "InvalidMsg(this)", class: "new_offer_unitary_input", :value => 0.00   %>
							</div>
						</div>
					<% end %>

				</div>

		</div>
		<div class="right_side">
				
				<div class="comment_box">
					<div class="buyer_comment">
						<%= f.order.order_products.where(product_id: f.product_id).first.comment.content %>
					</div>
					<div class="seller_comment">
						<%= offer.fields_for(:comment, comment_object, child_index: comment_object.object_id) do |comment|%>
							<%=  comment.text_area :content, placeholder: "Tu comentario.."%>
						<% end %>
					</div>
				</div>
			</div>

		<div class="offer_comment_area">
			
		</div>
	<% end %>

</div>

