	
<!-- Los que pide el cliente -->
<!-- Los que ha mandado el proveedor -->
<!-- Los que ha regresado el cliente-->
<!-- Los que ha rechazado el proveedor -->
<!-- Los que se han aceptado -->
<!-- Los que se han entregado -->


<!-- recibe un offer = f y con ese objecto crea los hijos -->
<!-- product_id -->
<!-- order_id -->
<!-- status -->
<!-- unitary_price -->
	<!-- offer_detail -->
		<!-- order_id -->
		<!-- offer_id -->
		<!-- units -->
		<!-- status -->
	<!-- comment -->
		<!-- content -->

<% offer_detail_object = f.offer_details.build %>
<% comment_object = f.build_comment %>
<div class="offer_product_box">
	<%= form_for f, url: {action: "create"}, html: {
				class: "new_offer_form"} do |offer|%>

		<%= offer.text_field :order_id, style: "display: none;" %>
		<%= offer.number_field :product_id, style: "display: none;" %>
		<h5><%= f.product.name %></h5>
		<%= offer.label :unitary_price, "Precio Kg" %>
		<%= offer.number_field :unitary_price %>

		<div class="offer_detail_area">
			<%= offer.fields_for(:offer_details, offer_detail_object, child_index: offer_detail_object.object_id) do |offer_detail_fields| %>
				<%= offer_detail_fields.label :units, "Kg" %>
				<%= offer_detail_fields.number_field :units %>
			<% end %>
		</div>

		<div class="offer_comment_area">
			<%= offer.fields_for(:comment, comment_object, child_index: comment_object.object_id) do |comment|%>
				<%=  comment.text_area :content, placeholder: "Tu comentario.."%>
			<% end %>
		</div>
		
		<%= offer.submit "Enviar Oferta" %>
	<% end %>
	<%= button_tag "+" , style: "display, none", class: "combo_product_add_button", data: {product_id: f.product.id}%>

</div>

