// Para que salga un formulario nuevo si no se ha hecho oferta e indique con un formulario diferente si ya se ha hecho

<%= created_offers_product_ids = @offers.collect { |offer| offer.product.id} %>
<% @order.order_products.each do |order_product| %>
	<% if created_offers_product_ids.include?(order_product.product_id) %>
		<% offer_builder = @offers.where(product_id: order_product.product_id).first %>
		$('.offer_list').append("<%= j render partial:  'offer_status_form.html.erb', locals: {f: offer_builder, order_due_date_past: @order.due_date_past?} %>")
	<% else %>
		<% if @order.due_date_past? || !@authorized_products.include?(order_product.product_id)%>
			$('.offer_list').append("<%= j render partial:  'orders/order_product_objective_box.html.erb', locals: {f: order_product} %>")					
		<% else %>
			<% offer_builder = order_product.order.offers.build(product_id: order_product.product_id)  %>
			$('.offer_list').append("<%= j render partial:  'offer_form.html.erb', locals: {f: offer_builder} %>")		
		<% end %>
	<% end %>
<% end %>


<% @combos.each do |combo| %>
	$('.combo_list').append("<%= j render partial: 'combo_box.html.erb', locals: {f: combo, function: 'offer'} %>")
<% end %>
// Para que no se pueda hcer ningun combo despues de la fecha limite
<% unless @order.due_date_past? %>
	<% combo = @order.combos.create %>
	$('.combo_list').append("<%= j render partial: 'combo_form.html.erb', locals: {f: combo} %>")
<% end %>
	


// Para que el checkbox se marque cuando un producto sea agregado
$('.combo_product_add_button').on('click', function(e) {
	$(e.target).attr('type', 'button')
	idToCheck = $(e.target).attr('data-product-id')
	// $('#new_combo.new_combo_form').children('[data-product-id='+idToCheck+']').trigger('click')
	// $('.product_list_area').append('<li> <div class="background_box"><%= j @products.first.name %></div></li>')

	$('.product_list_area a.add_fields').click();
	$($('ul.product_list_area').children('.combo_product_box').last().children('.product_id_field')).val(idToCheck)
	$($('.combo_product_remove_button').last()).attr('data-product-id', idToCheck).attr('type', 'button')
	$(e.target).prop('disabled', true)
	productName = $(e.target).parents('.right_side').siblings('.left_side').children('.product_name_box').children('.background_box').text()
	$('.combo_product_box').last().children('.combo_product_box_title').text(productName)
	// Para que se eliminen los campos si se desea remover el producto
	$('button.combo_product_remove_button').on('click', function(e){
		idToRemove = $(e.target).attr('data-product-id')
		$(e.target).parent().remove()
		$($('.combo_product_add_button[data-product-id='+ idToRemove+ ']')).prop('disabled', false)
	})
})





$('.seller_comment_tag').on('click', function(e){
	$(e.target).attr('type', 'button')
	$(e.target).siblings('.comment_box').children('.seller_comment').css('display', 'block')
	$(e.target).siblings('.comment_box').children('.buyer_comment').css('display', 'none')
})

$('.buyer_comment_tag').on('click', function(e){
	$(e.target).attr('type', 'button')
	$(e.target).siblings('.comment_box').children('.buyer_comment').css('display', 'block')
	$(e.target).siblings('.comment_box').children('.seller_comment').css('display', 'none')
})

$('input#offer_unitary_price').on('focus', function(e){
	$($(e.target).closest('.left_side').siblings('.right_side').children('.unitary_price_notice')).addClass('active');
})

$('input#offer_unitary_price').on('blur', function(e){
	$($(e.target).closest('.left_side').siblings('.right_side').children('.unitary_price_notice')).removeClass('active');
})

// Para que se elimine el formulario si se creo la oferta
$('.offer_product_box .submit_button').on('click', function(e) {
	$(e.target).closest('.offer_product_box').addClass('deletion_candidate');
})

// Para que se elimine el formulario si se creo el combo
$('.new_combo_form .submit_button').on('click', function(e) {
	$(e.target).closest('.new_combo_form').addClass('clear_candidate');
})




// Para que se agreguen campos por producto
$('form .add_fields').on('click', function(e) {
		time = new Date().getTime()
		regexp = new RegExp($(this).data('id'), 'g')
		$(this).before($(this).data('fields').replace(regexp, time))
		event.preventDefault()
		$('.new_combo_form input[type=submit]').prop('disabled', false)
})




