<!DOCTYPE html>
<html>
<head>
  <title>Cintelius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-bar">
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</div>
	<div class="flash_messages">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"> 
				<% if key == "success" %>
					<%= image_tag "icons/icon-style-checkmark-white.png", class: "alert-icon" %>
				<% end %>
				<div class="flash_value_box"><%= value %> </div>
			</div>
		<% end %>
	</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
