<!DOCTYPE html>
<html>
<head>
  <title>Cintelius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-bar">
		<%= link_to('Cerrar Sesión', destroy_user_session_path, :method => :delete, class: "log_out_link") %>
		<% if current_user.is_buyer? or current_user.is_admin? %>
			<%= link_to('Nueva Orden', new_order_path, class: "new_order_link") %>
			<%= link_to('Ordenes', orders_path, class: "order_index_link") %>
		<% end %>

		<% if current_user.is_seller? or current_user.is_admin? %>
			<%= link_to('Ofertas', offers_path, class: "offer_index_link") %>
		<% end %>

		<%= link_to('Herramientas', settings_path, class: "user_settings_link") %>

	</div>
	<div class="flash_messages">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"> 
				<% if key == "success" %>
					<%= image_tag "icons/icon-style-checkmark-white.png", class: "alert-icon" %>
				<% end %>
				<div class="flash_value_box"><%= value %> </div>
			</div>
		<% end %>
	</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>

<script>
	// $('.top-bar a').on('click', function)
</script>
